/node_modules
.nyc_output
coverage
cypress/videos/*
cypress/screenshots/*
cypress/report
/public/uploaded/*.png
/public/uploaded/*.jpg
public/css
public/data/data.json
public/js
.DS_Store


# backstopJS

backstop_data